{{#if collection}}
  {{#if showLoading}}
    <h3 class="text-info"><span class="loading-spinner glyphicon glyphicon-refresh"></span> Loading Search Results...</h3>
  {{else}}
    {{#buildMediaList collection}}
      <div class="creators-list-item media-list-item" style="background-image: url({{thumbnailSrc thumbnail}});" data-creator-id="{{id}}">
        <h4>
          {{#if fullName}}
            {{fullName}}
          {{else}}
            &nbsp;
          {{/if}}
        </h4>
      </div>
    {{/buildMediaList}}
  {{/if}}
  {{{buildPagination collection}}}
{{else}}
  <h3>Loading...</h3>
{{/if}}
